@import url("https://fonts.cdnfonts.com/css/nats");

:root {
  --text-font: "NATS";
  --fc-title-font-size: 1.75rem;
  --fc-small-font-size: 1rem;
  --fc-font-family: "ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji";
}

body {
  background-color: #f5f5f7;
  height: 100vh;
  margin: 0;
}

h1 {
  font-family: var(--text-font);
}
h2 {
  font-family: var(--text-font);
}


/* 
#root {
  height: 100%;
}
.main {
  height: 100%;
}

.content {
  margin: 5vh 5vh 5vh 5vh;
  display: grid;
  grid-template-columns: 1fr 5vh 1fr;
  height: 80vh;
}

.output {
  background-color: #3bae81;
  grid-column: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 200px;
}

footer {
  height: 0;
}

@media (max-width: 912px) {
  .main {
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    grid-template-rows: 8vh 80vh 10vh;
  }
  .header {
    grid-row: 1;
    height: 100%;
  }
  .content {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column-reverse;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .output {
    height: 30vh;
    width: 50vw;
  }

  .canvas {
    height: 500px;
    width: 500px;
  }
} */
